.container{
    width: 1200px;
    height: 550px;
    background-color: silver;
    margin: 20px auto;
    padding: 10px;
}
.top-nav {
    height: 150px;
    background-color: green;
    justify-content: center;
    margin: 10px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.side-nav, .main, .sub-content {
    display: inline-block;
    vertical-align: top;
}

.main {
    height: 350px;
    width: 945px;
    background-color: red;
    margin: 10px;
    margin-top: 20px;
}
.sub-content {
    display: inline;
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin: 20px;
    margin-left: 90px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: 110px;
}

