* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 4px 4px 4px grey;
  }
  h1 {
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  p {
    margin: 20px 0;
    font-size: 1.1rem;
  }
  #message {
    width: inherit;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 4px 4px 4px grey;
    /* change the position properties here */
    position: absolute; 
    top: 0px;
  }
  #message * {
    margin: 10px;
  }
  #message .header {
    margin: 0px;
    background-color: #ddd;
    padding: 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
  }
  #message button {
    height: 30px;
    width: 80px;
  }
             
           
           
           
           
           
           
           
           
           
           
           
           /* width: inherit inherits parent width */
           
           
           /* .container {
                width: 720px;
                height: 250px;
                background-color: silver;
                display: flex;
                align-items: center;
            }
                
            .col {
                width: 220px;
                padding: 10px;
                background-color: blanchedalmond;
            } */

            
            
            /* start with margin always then padding */
            
            
            
            
            
            
            
            
            
            
            
            
            /* *{
                margin: 0px;
                padding: 0px;
            }

            h1{
                font-display: center;
            }

            .flex-container{
                border: 5px solid red;
                height: 500px;
                width: 150px;
                display:flex;
                justify-content: space-between;
            }

            .blue{

            }

            .box{
                background-color: blue;
                color: aliceblue;
            } */

            /* a {
                width: 25px;
            }
            div {
                width: 100%;
                height: 200px;
            }
            img {
                width: 250px;
            }     common sizes */


            /* h3 {
                font-size: 10pt;
            }
            p {
                font-size: 14px;
            }
            a {
                font-size: 1.2em;
            }
            span {
                font-size: 80%;
            }     common font sizes*/


            /* div {
                overflow: scroll;
            } */
        
            /* button {
                border: 2px dotted green;
            }
            div {
                border: 1px solid #000000;
            }
            p {
                border-right: 1px groove rgb(100,100,100);
                border-left: 1px groove rgb(200,200,200);
            }  how to use borders*/
        
                    /* button {
                        border-radius: 5px;
                    }   
                    
                    
                    This property allows the corners of your 
                    border to be given a rounded appearance. 
                    The values can be set using px or %.*/
            
            
        
/* Floats
#container{
	background-color: grey;
	width:960px;
	overflow: hidden;
	height: auto;
}
#box-1, #box-2, #box-3{
	background-color: green;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin: 0 20px;
	padding: 20px;
}
#box-1, #box-2, #box-3{
	float:right;
}
.clear{
	clear: both;
}
*/

