.button{
    margin: 20px;
    height: 50px;
    width: 200px;
    background-color: blue;
}
#text-search{
    color: aqua;
    font-size: x-large;
    font-weight: 550;
}
#search{
    border: 5px solid aqua;
    border-radius: 100px;
    background-color: white;
}

#text-round{
    color: aliceblue;
    font-size: x-large;
}

#round{
    border-radius: 100px;
    background-color: aqua;
    width: 50px;
    border: white;
}

#text-account{
    color: whitesmoke;
    font-size: larger;
}

#account{
    box-shadow: 5px 5px 10px;
}