<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">
    
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: solid black;
    }

    .box {
        background-color: blue;
        margin: 40px;
        width: 200px;
        height: 200px;
        outline: solid black;
        border-radius: 15px 15px 15px;
    }

</style>
<body>
    <div class="parent">
        {% for num in range(0,num) %}
        <div class="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>