.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;

}

.container {
    display: flex;
    align-items: center;
    background-color: blue;
}