* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h3 {
    margin: 0px;
    padding: 0px;
}
.bottom-header {
    margin-left: 650px;
    margin-top: 20px;
}
#page {
    /* background-color: #6f132f; */
    background-color: #751612;
    height: 800px;
    padding-top: 10px;
}
/* .page {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.header {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-left: 300px;
    margin-right: 300px;
    /* margin-top: 10px; */
    padding-left: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9a031e;
    box-shadow: 5px 5px 5px;
}
.bottom-page {
    display: flex;
    justify-content: center;

}
#left-side {
    display: block;
    /* outline: dotted rgb(199, 35, 35); */
    margin: 20px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    /* background-color: gray; */
    box-shadow: 5px 5px 5px;
    background-color: #e36414
}
#left-side * {
    margin-top: 20px;
    margin-bottom: 20px;

}
#right-side {
    height: 440px;
    margin: 20px;
    justify-content: space-around;
    /* outline: dotted red; */
    border-radius: 10px;
    /* background-color: #58173a; */
    box-shadow: 5px 5px 5px;
    /* background-color: #e36414; */
    background-color: #9a031e
}
.box {
    margin: 20px;
    height: 100px;
    padding: 10px;
    /* outline: dotted red; */
    align-items: center;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 5px 5px 5px;
    /* background-color: #d57c33 */
    /* background-color: #d3a064 */
    background-color: #fb8b24;
}
.box div {
    margin: 10px;
}
.top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
button {
    border-radius: 100px;
    /* background-color: rgb(17, 209, 209); */
    /* background-color: #9a031e; */
    background-color: #0f4c5c;
    width: 50px;
    border: white;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.568);
    color: azure;
}