.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-left: 500px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.box {
    margin: 20px;
}

.right {
    margin-left: 200px;
}

* a {
    text-decoration: none;
}

.button {
    padding: 5px;
    border-radius: 5px 5px 5px;
    height: 30px;
    width: 40px;
    background-color: aquamarine;
    color: white;
}