<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>New Author</h1>
        <form action="/create_new_author" method="post">
            <label for="name">Name</label>
            <input type="text" name="name">
            <button>submit</button>
        </form>
    </div>
    <div>
        <h1>All Authors</h1>
        <div>
            {% for one_author in authors %}
            <a href="/authors/{{one_author.id}}">{{ one_author.name }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>