.row {
    margin: 10px;
    display:flex
}

.col {
    flex: 1;
    background-color: aquamarine;
    justify-content: space-around;
}

.col-2 {
    flex: 2;
    background-color: aquamarine;
}

.col-3 {
    flex: 3;
    background-color: aquamarine;
}

div {
    column-gap: 40px; 
    text-align: center;
    padding-top: 20px;
    height: 40px;
}