/* * { padding: 0; margin: 0; border: 0; } */


.nav{
    background-color: #333333;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    align-items: center
}
.nav-links{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
}

.btn {
    background-color: #17a2b8;
    box-shadow: 5px 5px black;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 
.page-container {
    background-color: #333333;
} */

.bottom-page-container {
    display: flex;
    justify-content: space-around;
}

.left-side {
    /* outline: thick double #32a1ce; */
    margin-top: 20px;
    width: 350px;
}

.right-side {
    /* outline: thick double #32a1ce; */
    margin-top: 20px;
    width: 220px;
}

.header {
    overflow: visible;
    background-color: #17a2b8;
    padding-left: 10px;
    justify-content: center;
    justify-content: space-around;
}

.body {
    background-color: rgb(226, 208, 169);
    padding-left: 10px;
}

.same-line-left {
    display: flex;
    align-items: center;
    display: flex-start;
}

.same-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notifications {
    background-color: #333333;
    color: aliceblue;
    border-radius: 10px;
    width: 40px;
    padding-left: 10px;
}

.header #big-icon {
    height: 100px;
}



.body img{
    height: 20px;
    display:inline
}

#education-card {
    margin-top: 50px;
    outline: solid black;
}

#user-card {
    outline: solid black;
}

#connection-requests {
    outline: solid black;
}

#your-connections {
    outline: solid black;
    margin-top: 20px;
}

#your-connections .header {
    padding-left: -10px;
}

#user-card .header {
    height: 50px;
    padding-top: 20px;
}

.base {
    background-color: grey;
    text-decoration: underline;
    margin-left: -10px;
    padding-left: 30px;
}

#user-card .body {
    padding-top: 50px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

.seperate {
    margin: 10px;
}

#education-card .body {
    padding-top: 10px;
}
