* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    /* overflow: hidden; */
}
.page {
    /* background-color: lightgrey; */
    background-color: #121212;
}
h1 {
    margin: 0px;
}
#header {
    background-color: #119b9e;
    /* outline: red dotted; */
}
#top-header {
    /* outline: red dotted; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: red dotted; */
    width: 850px;
}
.title {
    display: flex;
    align-items: center;
    color: white;
}
.directory {
    background-color: #119b9e;
    margin: 20px;
    font-size: large;
}
.top-head-button {
    background-color: whitesmoke;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.750);
}
.low-head-button {
    color: whitesmoke;
    background-color: rebeccapurple;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.750);
}
.buffer {
    margin: 10px;
}
#bottom-header {
    /* outline: red dotted; */
    display: flex;
    justify-content: center;
}
.small-icon {
    height: 30px;
    margin: 10px;
}
.bar {
    background-color: #d1ebed;
    width: 200px;
    border-radius: 5px;
    padding: 3px;
}
.drop-down-div {
    color: antiquewhite;
    /* outline: red dotted; */
}
.align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}
#bottom-page {
    /* outline: red dotted; */
    width: 1260px;
    height: 650px;
}
.boxes {
    margin-left: 180px;
}
.box {
    /* outline: red dotted; */
    display:  flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    margin: 20px;
    /* background-color: #eeedef; */
    background-color: #2a2a2a;
    border-radius: 5px;
    padding: 15px;
    color: #e2e2e2;
}
.description {
    position: absolute;
    margin-left: 120px;
}
.likes-box {
    /* outline: red dotted; */
    text-align: center;
    padding-top: 15px;
}
.btn {
    margin: 15px;
    /* background-color: #17ced1; */
    background-color: #119b9e;
    /* color: whitesmoke; */
    color: #e2e2e2;
    border-radius: 5px;
    width: 150px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.750);
    padding: 3px;
}
.pet {
    height: 100px;
}