h1 {
    color: white;
    background-color: black;
}
.aqua {
    color: aqua;
}
h2 {
    background-color: rebeccapurple;
    text-align: center;
}
h3 {
    color: black;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}